<h3> <%= link_to 'Registrar nova filial', new_subsidiary_path %></h3>

<% @subsidiaries.each do |subsidiary| %>
  <h1><%= link_to subsidiary.name, subsidiary %></h1></br>
<% end %>

<% if @subsidiaries.empty? %>
  <%= flash[:notice] = "Nenhuma filial cadastrada" %></br>
<% end %>

<h3> <%= link_to 'Voltar', root_path %></h3>
